body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

main{
  margin-bottom: 60px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  position: relative;
}

.container-flex{
  display: flex;
  margin-bottom: 60px;
}

.content{
  width: 940px;
  padding-left: 20px;
}