.breadcrumbs__menu {
  margin: 0;
}

.breadcrumbs__menu{
  display: flex;
  list-style: none;
}

.breadcrumbs__item:after {
  content: "/";
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color:#6b85cf;
}

.breadcrumbs__link--active {
  color: rgba(34, 31, 31, 0.8);
  text-decoration: none;
}

.top-nav{
  display: flex;
}