.compressed-container{
  text-align: center;
  background-color: #5972b1;
  padding: 10px;
  margin-bottom: 19px;
}
  
  
  .support__text{
color: #ffffff;
font-family: Roboto;
font-size: 19px;
font-weight: 300;
line-height: 30px;
font-family: "Roboto Light";
font-weight: 300
  }
 

 

.support__request{
font-weight: 700;
color: #ffffff;
}

.support{
  width: 60%;
}