.compressed-container{
  text-align: center;
  background-color: #5972b1;
  padding: 10px;
  margin-bottom: 22px;

  
  
  
  margin-bottom: ;
}

.support__text{
color: #ffffff;
font-family: Roboto;
font-size: 18px;
font-weight: 300;
line-height: 30px;
margin: 0;
}

.support__request{
font-weight: 700;
color: #ffffff;
}

.support{
  width: 60%;
}