.compressed-container{
  text-align: center;
  background-color: #5972b1;
  padding: 8px;
  width: 93%;
  margin-left: 20px;
  margin-bottom: 14px;
}
  
  
  .support__text{
color: #ffffff;
font-family: Roboto;
font-size: 19px;
font-weight: 300;
line-height: 30px;
font-family: "Roboto Light";
font-weight: 300
  }
 
  .contacts__phone-support{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: block;
  }
 

.support__request{
font-weight: 700;
color: #ffffff;
}

.support{
  width: 60%;
}