.footer{
  color: #fff;
  background-color: #5973b1;
}

.footer__container{
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  min-height: 77px;
}

.copyright{
  width: 245px;
  font-family: Roboto;
  font-size: 14px;
}

.copyright__link{
  font-family: "Roboto - Bold";
font-weight: 700;
text-decoration: underline;
color: #ffffff;
}

.footer__logo{
width: 230px;
}

.socials{
  padding-right: 15px;
  }

.socials__title{
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
   text-align: center; 
   }

   .socials__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;  
    line-height: 21px;
    border-radius: 50%;
    margin-right: 4px;
    background-color: #d4ddf2;
  }
  
  .socials__item:hover{
    background-color: #fff;
  }
  
  .socials__item:nth-child(4){
    margin-right: 0;
  }
  
  .socials__list{
    display: flex;
    list-style: none; 
  }