.footer {
  color: #fff;
  background-color: #5973b1;
}

.footer__container {
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 28px 12px 10px;
  min-height: 77px;
}

.copyright {
  width: 245px;
  font-family: Roboto;
  font-size: 14px;
}

.copyright__link {
  font-family: "Roboto - Bold";
  font-weight: 700;
  text-decoration: underline;
  color: #ffffff;
}


