.form-container{
  padding: 58px;
}

.form {
  padding: 52px 5%;
  width: 700px;
  background-color: #f4f4f4;
}

.form__title{
color: #262424;
font-family: Roboto;
font-size: 49px;
font-weight: 700;
line-height: 38px;
margin-bottom: 24px;
}

.form__row {
  display: flex;
  margin-bottom: 17px;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__input--textarea {
  resize: vertical;
height: 90px;
width: 92%;
padding: 5px;
border: 1px solid #5972b1;
color: #262424;
font-family: Roboto;
font-size: 14px;
border-radius: 5px;
}

.switch-controls__title{
font-family: Roboto;
font-size: 14px;margin-bottom: 10px;
}

.switch-controls__elem-title{
  display: flex;
  margin-left: 4px;
}

.switch-controls__elem{
  display: flex;
  align-items: center;
}

.switch-controls__buttons{
  display: flex;
  justify-content: space-between;
  width: 110px;
}


.switch-controls__radio{
  position: absolute;
  top: 0;
  left: -9999px;
}


.switch-controls__radio:checked+.switch-controls__visible {
  border-color: #1c5bc3;
}

.switch-controls__radio:checked+.switch-controls__visible:after {
  width: 8px;
  height: 8px;
}

.switch-controls__radio:checked+.switch-controls__visible+.switch-controls__elem-title {
  color: #1c5bc3;
}

.switch-controls__visible,
.switch-controls__elem-title {
  display: inline-block;
  vertical-align: middle;
}

.switch-controls__visible {
  width: 20px;
  height: 20px;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: .3s;
  background: #fdfdfd;
}

.switch-controls__visible:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1c5bc3;
  transition: .3s;
}

.switch-controls__elem-title{
  margin-left: 5px;
  transition: .3s;
}

.switch-controls__elem{
  cursor: pointer;
}




.form__input:focus {
  outline: none;
}

.form__input {
  border: 1px solid transparent;
  border-radius: 5px;
}


.form__elem-title{
  margin-bottom: 5px;
}

.form__block {
  flex: 1;
}

.form__block:first-child {
  margin-left: 0;
}

.form__input {
  background: #fff;
  width: 84%;
  padding: 12px 9px;
}

.form__input:focus {
  outline: none;
  border-color: #5972b1;
}


.form__buttons-row{
  display: flex;
  justify-content: space-between;
  padding-right: 51px;
}

.btn{
  width: 154px;
  height: 45px;
  border-radius: 5px;
  background-color: #5972b1;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  cursor: pointer;
  border: 0; 
}

.btn:hover{
  background-color: #f4f4f4;
  color: #5972b1;
  transition: 0.4s;
}

.btn::after{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-image: url('../../image/sprites2.png');
  background-repeat: no-repeat;
  background-position: -45px -86px;
  }
  
  .btn:hover::after{
    background-position: -10px -86px;
  }

  .form__submit-text{
    display: inline-block;
    vertical-align: middle;
  }










