.news{
  margin-bottom: 37px;
}

.news__title {
  color: #262424;
  font-family: Roboto;
  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 70px;
  margin: 0;
  margin-bottom: 47px;
}

.news__list {
  display: flex;
  list-style: none;
}

.news__photo {
  width: 160px;
  height: 160px;
  background-color: #d0d7db;
  border-radius: 50%;
  overflow: hidden;
}

.news__photo-img{
  display: block;
  max-width: 100%;
 }
 
 .news-item {
   display: flex;
   flex-flow: column;
   align-items: center;
   margin-right: 20px;
   margin-bottom: 27px;
   border-bottom: 1px solid #f4f4f4;
 }

 .news-item:nth-child(3){
  margin-right: 0;
 }
 
 .news__top-col{
   margin-bottom: 40px;
 } 
   
 }
 
 .news__time {
   color: #262424;
   font-family: Roboto;
   font-size: 18px;
   font-weight: 300;
 }

 .news__ad {
  font-family: "Roboto - Bold";
font-weight: 700;
line-height: 21px;
font-size: 20px;
}

.news__text {
  font-family: "Roboto Light";
  font-weight: 300;
  line-height: 28px;
  font-size: 20px;
  margin: 0;
}