.reviews__title {
  color: #262424;
  font-family: Roboto;
  font-size: 49px;
  line-height: 34px;
  margin-top: 26px;
}

.reviews__avatar {
  width: 170px;
  height: 170px;
  background-color: #d0d7db;
  border-radius: 50%;
  overflow: hidden;
}

.reviews__photo-img{
  display: block;
  max-width: 100%;
 }

 .reviews{
  margin-bottom: 50px;
}

.reviews__list {
  list-style: none;
  display: flex;
  flex-flow: column;
  margin-left: 4px;
}

 .reviews-item {
   display: flex;
   border-bottom: 1px solid #f4f4f4;
   padding: 10px 20px 10px 12px;
   margin-bottom: 15px;
 }
 
 .reviews-item:nth-child(4){
   margin-bottom: 0;
   border: none;
 }
 
 .reviews__content {
   margin-left: 20px;
 }

 .reviews__time {
  color: #262424;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}

.reviews-username {
  font-family: "Roboto - Bold";
  font-weight: 900;
  font-size: 19px;
}

.reviews__text {
 font-family: "Roboto Light";
 line-height: 30px;
 font-size: 20px;
 margin-top: 10px;
}