.reviews__title {
  color: #262424;
  font-family: Roboto;
  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 70px;
}

.reviews__avatar {
  width: 160px;
  height: 160px;
  background-color: #d0d7db;
  border-radius: 50%;
  overflow: hidden;
}

.reviews__photo-img{
  display: block;
  max-width: 100%;
 }

 .reviews{
  margin-bottom: 30px;
}

.reviews__list {
  list-style: none;
}

 .reviews-item {
   display: flex;
   margin-bottom: 50px;
 }
 
 .reviews-item:nth-child(4){
   margin-bottom: 0;
 }
 
 .reviews__content {
   margin-left: 20px;
 }

 .reviews__time {
  color: #262424;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}

.reviews-username {
  font-family: "Roboto - Bold";
  font-weight: 900;
  line-height: 21px;
  font-size: 18px;
}

.reviews__text {
 font-family: "Roboto Light";
 line-height: 22px;
 font-size: 18px;
}