
.sidebar {
  width: 190px;
}

.menu__link {
  display: flex;
  align-items: center;
  color: #5972b1;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  text-decoration: none;
  font-size: 12px;
   font-family: Roboto;
  font-weight: 700;
  line-height: 54px;
}

.menu__link:hover {
  color: black;
}

.menu__link:before {
  content: "";
  margin-right: 13px;
  width: 24px;
  height: 18px;
  background: left center / contain no-repeat;
}

.menu__item--active .menu__link {
  color: black;
}

.menu__list {
  list-style: none;
  padding-left: 15px;
  padding-top: 10px;
}

.menu__item--icon--plain .menu__link:before {
  background-image: url('../../image/plain.png'), url('../../image/plain.png');
  background-position: center center, top left;
}

.menu__item--icon--plain .menu__link:hover:before {
  background-image: url('../../image/plain.png');
}

.menu__item--icon--feed .menu__link:before {
  background-image: url('../../image/feed.png');
}

.menu__item--icon--feed .menu__link:hover:before {
  background-image: url('../../image/feed_icon.png');
}

.menu__item--icon--teem .menu__link:before {
  background-image: url('../../image/teem.png')
  
}

.menu__item--icon--teem .menu__link:hover:before {
  background-image: url('../../image/team_icon.png');
}

.menu__item--active.menu__item--icon--plain .menu__link:before {
  background-image: url('../../image/plain.png');
}